<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127347838670-j240g03idm1o4smgdnnjloqe7dq9ba01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127347838670-j240g03idm1o4smgdnnjloqe7dq9ba01</string>
	<key>API_KEY</key>
	<string>AIzaSyCVqQ0ncp_1ZJc6iDLlWbGt41uVUz7uC_M</string>
	<key>GCM_SENDER_ID</key>
	<string>127347838670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unitglo.smartinventory</string>
	<key>PROJECT_ID</key>
	<string>smart-inventroy</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-inventroy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127347838670:ios:cde2b2b4c344f967308a9f</string>
	<key>DATABASE_URL</key>
	<string>https://smart-inventroy.firebaseio.com</string>
</dict>
</plist>